{% extends "layouts/frontend" %}

{% block content %}
<div class="main-container">
	<a id="heroshot" class="in-page-link"></a>
<!-- <section class="cover height-80 imagebg text-center section--ken-burns" data-overlay="4">
	 <div class="background-image-holder"> <img alt="background" src="{{ 'images/backgrounds/image-1.jpg'|asset }}"> </div>
		<div class="container pos-vertical-center">
			<div class="row">
				<div class="col-md-8 col-lg-7">
					<h1>
						<p><b>El eCommerce más accesible de Honduras.<br></b></p>
					</h1>
					<p class="lead"><b>  Fácil ● Rápido ● Seguro</b></p>
					<a class="btn type--uppercase" href="#titulo-servicios"> <span class="btn__text">Descubre más de pixelpay</span> </a>
				</div>
			</div>
		</div> 
	</section> -->
	<section id="start" class="cover height-80 imagebg text-center" data-overlay="4">
		<div class="background-image-holder"> <img alt="background" src="{{ 'images/backgrounds/image-?.jpg'|asset(bg) }}"> </div>
		<div class="container pos-vertical-center">
			<div class="row">
				<div class="col-sm-10">
					<h1>
						{% if bg % 2 == 0 %}
						Tu solución para  <br>pagos en línea.
						{% else %}
						Tu solución para  <br>pagos en línea.
						{% endif %}
					</h1>
					<p class="cover-header-subtitle">
						Fácil &#x25cf; Rápido &#x25cf; Seguro
					</p>
					<a class="btn" href="{{ route('register') }}">
						<span class="btn__text"><img src="{{ 'images/pixel/rocket.png'|asset }}" width="24" height="24" alt="" class="btn__image">EMPIEZA YA</span>
					</a>
					<a class="btn modal-trigger" href="#" data-modal-index="0">
						<span class="btn__text"><img src="{{ 'images/pixel/play.png'|asset }}" width="24" height="24" alt="" class="btn__image">DESCRUBE MAS DE PIXELPAY</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<a id="qu-es-pixelpay" class="in-page-link"></a>
	<section class="switchable feature-large">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-md-6 col-12">
					<div class="video-cover border--round box-shadow-wide">
						<div class="background-image-holder"> <img alt="image" src="{{ 'images/pixel/video.jpg'|asset }}"> </div>
						<div class="video-play-icon"></div> 
						<iframe data-src="https://www.youtube.com/embed/LvtCHejQqpk" allowfullscreen="allowfullscreen"></iframe> 
					</div>
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="switchable__text">
						<h2><b>Vende más, <br>complícate menos.</b></h2>
						<p class="lead"> Envía <b>cobros por WhatsApp </b>donde tus clientes <b>te pueden pagar al instante.</b><br><br>Acepta <b> tarjetas de crédito y débito </b>de forma rápida y segura.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="text-center bg--secondary ">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 >E-Payments:</h1><br>
					<h3 style="margin-bottom:-50px; margin-top:-20px;">La forma de pago <br>de mayor crecimiento en el mundo.</h3>
				</div>
			</div>
		</div>
	</section> 

	<a id="beneficios-comercios" class="in-page-link"></a>
	<section class="text-center space--xxs bg--secondary">
		<div class="tabs-container" data-content-align="left">
			<ul class="tabs tabs--spaced">
				<li class="active">
					<div class="tab__title text-center"> <i class="icon block icon-Rocket icon--sm"></i> <span class="h5"><p>EMPRENDEDORES</p></span> </div>
					<div class="tab__content">
						<div class="container switchable switchable--switch">
							<div class="row">
								<div class="col-md-7"> <img alt="Image" src="{{ 'images/pixel/vector2.png'|asset }}"> </div>
								<div class="col-md-5 col-lg-4">
									<div class="mt--1">
										<h3>Vende desde tu Smartphone.</h3>
										<ul style="list-style-type:disc;">
											<li>
												Inicia tu negocio con una <b>mínima inversión.</b>
											</li>	
											<li>
												Luce tus productos en <b>redes sociales y acepta pagos al instante con nuestra innovadora herramienta InstaShop.</b>	
											</li>
											<li>Acepta pagos con tarjeta de crédito y débito desde <b>WhatsApp de manera segura.</b></li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="tab__title text-center"> <i class="icon block icon-Clothing-Store icon--sm"></i> <span class="h5"><p>MYPYMES</p></span> </div>
					<div class="tab__content">
						<div class="container">
							<div class="row">
								<div class="col-md-7"> <img alt="Image" src="{{ 'images/pixel/vector1.png'|asset }}"> </div>
								<div class="col-md-5 col-lg-4">
									<div class="mt--1">
										<h3>E-Commerce: La tienda que nunca cierra.</h3>
										<ul style="list-style-type:disc;">
											<li>Vuelvete un competidor regional con una tienda en línea.</li>
											<li>Exhibe tu producto a clientes en otras ciudades o países.</li>
											<li>La herramienta perfecta para compras del extranjero.</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="tab__title text-center"> <i class="icon block icon-Building icon--sm"></i> <span class="h5"><p>EMPRESARIAL</p></span> </div>
					<div class="tab__content">
						<div class="container">
							<div class="row">
								<div class="col-md-7"> <img alt="Image" src="{{ 'images/pixel/vector3.png'|asset }}"> </div>
								<div class="col-md-5 col-lg-4">
									<div class="mt--1">
										<h3>Recibe pagos desde cualquier parte del mundo.<br></h3>
										<ul style="list-style-type:disc;">
											<li>Elimina la necesidad de portar  POS Móviles.</li>
											<li>Agiliza tu equipo de ventas enviando cobros por WhatsApp.</li>
											<li>Reduce tus cuentas por cobrar, brindando máxima flexibilidad de pago.</li>
											<li>Recibe pagos de clientes mayoristas desde cualquier parte del país.</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<a id="cta-escribenos" class="in-page-link"></a>
	<section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
		<div class="container">
			<div class="cta cta--horizontal text-center-xs row">
				<div class="col-md-4">
					<h4>¡Vende en línea!</h4>
				</div>
				<div class="col-md-5">
					<p class="lead"> Todas las herramientas innovadoras para el crecimiento de tu empresa.</p>
				</div>
				<div class="col-md-3 text-right text-center-xs">
					<a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">escribenos</span> </a>
				</div>
			</div>
		</div>
	</section>

	<a id="titulo-servicios" class="in-page-link"></a>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 style="margin-bottom: -150px;">Servicios</h1>
				</div>
			</div>
		</div>
	</section>

	<a id="servicios" class="in-page-link"></a>
	<section class="text-center space--xxs">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="text-block"> 
						<i class="icon icon--lg">
							<img src="{{ 'images/pixel/icons8-send.png'|asset }}" alt="" width="80" height="80">
						</i>
						<h4>Generador de Cobros</h4>
						<p> Envía cobros por correo electrónico o WhatsApp sin necesidad de un sitio web.</p>
						<!-- <a href="{{ route('soon') }}" class="btn btn--default hash-link">
							<span class="btn__text">LEER MÁS</span>
						</a> -->

						<a class="modal-trigger btn btn--default hash-link" href="#" data-modal-index="1"> <span class="btn__text">
							LEER MÁS
						</span> </a>
						

					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="text-block"> 
						<i class="icon icon--lg">
							<img src="{{ 'images/pixel/push_notifications.png'|asset }}" alt="" width="80" height="80">
						</i>
						<h4>Aplicación Móvil<br></h4>
						<p> Genera cobros de forma rápida desde tu celular y compárte ¡Descargala gratis!</p>
						<a href="https://play.google.com/store/apps/details?id=com.pixel.pay" target="_blank">
							<img src="{{ 'images/pixel/play_store_icon.png'|asset }}" alt="" height="20">
						</a>
						<a href="https://itunes.apple.com/us/app/pixelpay/id1360076859" target="_blank">
							<img src="{{ 'images/pixel/app_store_icon.png'|asset }}" alt="" height="20">
						</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="text-block">
						<i class="icon icon--lg">
							<img src="{{ 'images/pixel/facebook.png'|asset }}" alt="" width="80" height="80">
						</i>
						<h4>InstaShop</h4>
						<p> Impulsa tus ventas en redes sociales al aceptar pagos al instante. No necesitas sitio web. </p>
						<!-- <a href="{{ route('soon') }}" class="btn btn--default hash-link">
							<span class="btn__text">LEER MÁS</span>
						</a> -->
						
						<a class="modal-trigger btn btn--default hash-link" href="#" data-modal-index="1"> <span class="btn__text">
							LEER MÁS
						</span> </a>

						
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="text-block">
						<i class="icon icon--lg">
							<img src="{{ 'images/pixel/shopping_cart_loaded.png'|asset }}" alt="" width="80" height="80">
						</i>
						<h4>e-Commerce</h4>
						<p> Integra la experiencia de PixelPay® en tu tienda en línea, facilitando el proceso de pago.</p>
						<!-- <a href="{{ route('soon') }}" class="btn btn--default hash-link">
							<span class="btn__text">LEER MÁS</span>
						</a> -->
						<a class="modal-trigger btn btn--default hash-link" href="#" data-modal-index="1"> <span class="btn__text">
							LEER MÁS
						</span> </a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <a id="testimoniales" class="in-page-link"></a>
	<section class="imagebg section--ken-burns" data-overlay="8">
		<div class="background-image-holder"> 
			<img alt="background" src="{{ 'images/pixel/kort.jpg'|asset }}"> 
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="slider slider--inline-arrows" data-children="3" data-timing="5000" data-paging="true" data-arrows="true">
						<ul class="slides flickity-enabled" tabindex="0">
							<div class="flickity-viewport">
								<div class="flickity-slider"></div>
							</div><button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
							<div class="flickity-viewport">
								<div class="flickity-slider"></div>
							</div><button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
							<div class="flickity-viewport">
								<div class="flickity-slider">
									<li class="slide">
										<div class="testimonial row justify-content-center">
											<div class="col-lg-2 col-md-4 col-6 text-center"> <img class="testimonial__image" alt="Image" src="{{ 'images/pixel/masesa.png'|asset }}"> </div>
											<div class="col-lg-7 col-md-8 col-12"> <span class="h3"><p>“Implementar PixelPay, ha sido sumamente sencillo, además ofrecemos un mejor servicio."</p></span>
												<h5>MASESA</h5> <span>Agente de Cobros — Lesly Panchamé</span> 
											</div>
										</div>
									</li>
									<li class="slide is-selected">
										<div class="testimonial row justify-content-center">
											<div class="col-lg-2 col-md-4 col-6 text-center"> <img class="testimonial__image" alt="Image" src="{{ 'images/pixel/global.png'|asset }}"> </div>
											<div class="col-lg-7 col-md-8 col-12"> <span class="h3"><p>“PixelPay ha sido la herramienta que necesitábamos para ahorrarnos gastos innecesarios".</p></span>
												<h5>Agencia Global</h5> <span>CEO - Daniel Yuja</span> 
											</div>
										</div>
									</li>
									<li class="slide">
										<div class="testimonial row justify-content-center">
											<div class="col-lg-2 col-md-4 col-6 text-center"> <img class="testimonial__image" alt="Image" src="{{ 'images/pixel/stampa.png'|asset }}"> </div>
											<div class="col-lg-7 col-md-8 col-12"> <span class="h3"><p>“Al aceptar tarjetas de crédito con PixelPay, logre aumentar mis ventas.”
											</p></span>
											<h5>Stampa</h5> <span>Fundador — Donaldo Bustamante</span> 
										</div>
									</div>
								</li>
							</div>
						</div><button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></ul>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 style="margin-bottom:-150px;" >¿Cómo comienzo? ¿Qué sigue?</h1> 
				</div>
			</div>
		</div>
	</section>

	<a id="como-comienzo" class="in-page-link"></a>
	<section class="switchable imagebg image--light">
		<div class="background-image-holder"> <img alt="background" src="{{ 'images/pixel/bg3/png'|asset }}"> </div>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6 text-center"> <img alt="Image"  src="{{ 'images/pixel/device2.png'|asset }}"> <span> </span> </div>
				<div class="col-md-6 col-lg-5">
					<ol class="process-3">
						<li class="process_item">
							<div class="process__number"><span>1</span></div>
							<div class="process__body">
								<h4>Regístrate en PixelPay</h4>
								<p> Ingresa los datos de tu comercio. Tu información será auditada para comprobar la veracidad de los datos. Al estar aprobada tu solicitud, recibirás un correo con instrucciones de acceso.&nbsp;</p>
							</div>
						</li>
						<li class="process_item">
							<div class="process__number"><span>2</span></div>
							<div class="process__body">
								<h4>Selecciona tu banco</h4>
								<p>Debes solicitar un POS Virtual en el banco que seleccionaste al registrarte. Recibirás un correo de parte de Pixel introduciendo al ejecutivo que llevará la gestión.</p>
							</div>
						</li>
						<li class="process_item">
							<div class="process__number"><span>3</span></div>
							<div class="process__body">
								<h4>Activar Cuenta.</h4>
								<p>Ingresa la información del POS Virtual en nuestra plataforma y comienza a recibir pagos al instante.&nbsp;</p>
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<a id="cta-tarifas" class="in-page-link"></a>
	<section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-6">
					<div class="cta">
						<h2>ELIGE TU BANCO</h2>
						<p class="lead"> Tú decides con que banco deseas trabajar. PixelPay no retiene tu dinero, los fondos ingresan directamente a tu cuenta bancaria. </p>
						<!-- <a class="btn btn--primary type--uppercase" href="#purchase-template"> 
						 	<span class="btn__text">
								Tarifas
							</span> -->
							<a class="modal-trigger btn btn--default hash-link" href="#" data-modal-index="1"> <span class="btn__text">
								LEER MÁS
							</span> </a>
						</div> 
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<a id="seguridad" class="in-page-link"></a>
<section class="switchable feature-large unpad--bottom bg--secondary">
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-md-6">
				<div class="switchable__text">
					<h2><b>No guardamos tus datos.</b></h2>
					<p class="lead"><b>Autenticado 3D Secure<br></b>Nuestro sistema de pago viaja a través del protocolo <b>3D Secure</b> que protege tu pago y lo asegura contra fraudes para tarjetas certificadas.<br><br><b>Verificación y Encriptado</b><br>En cumplimiento con el <b>Estándar de Seguridad de Datos para la Industria de Tarjeta de Pago</b> (PCI DSS) para la protección de datos de nuestros clientes.<br></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-12 text-center"> <img alt="Image" src="{{ 'images/pixel/seguridad.png'|asset }}"> </div>
		</div>
	</div>
</section>

<section class="cover height-80 imagebg text-left" data-overlay="8" id="contact">
	<div class="background-image-holder">
		<img alt="background" src="{{ 'images/pixel/loveit.jpg'|asset }}">
	</div>
	<div class="container pos-vertical-center">
		<div class="row">
			<div class="col-sm-6">
				<span class="h1">¿Quiénes Somos?</span>
				<span class="h3">Una startup <b>5 estrellas.</b></span>
				<p class="lead">
					Pixel es una empresa hondureña dedicada a la impulsación del <b>comercio en linea</b> en el mercado regional.
				</p>
				<p class="lead"> Tel: <a href="tel:+5042504-3200">+504 2504-3200</a> </p>
				<p class="lead"> Para mayor información llámanos o escríbenos, estamos disponibles de 8am - 5pm.</p>
			</div>
			<div class="col-sm-6">
				<!-- data-recaptcha-sitekey="6Lf9ZVEUAAAAAPdCoBLUs5dHYM8G_SEogRnmjPXs"  -->
				<form class="text-left form-email attempted-submit" 
				data-error="Por favor llenar correctamente todos los campos" 
				data-success="El correo se ha enviado con éxito" 
				novalidate="true">

				{{ csrf_field() }}

				<div class="col-sm-6">
					<label>Nombre Completo:</label>
					<input class="validate-required" type="text" name="cname" maxlength="60" placeholder="Ingrese su nombre aquí" />
				</div>
				<div class="col-sm-6">
					<label>Correo Electrónico:</label>
					<input class="validate-required validate-email" type="email" name="cemail" placeholder="Ingrese un correo valido" />
				</div>
				<div class="col-sm-6">
					<label>Nombre de la Empresa:</label>
					<input class="validate-required" type="text" name="company" maxlength="60" placeholder="Razon social o comercio" />
				</div>
				<div class="col-sm-6">
					<label>RTN de la Empresa:</label>
					<input class="validate-required" type="text" name="rtn" maxlength="19" placeholder="xxxx xxxx xxxxxx" />
				</div>
				<div class="col-sm-12">
					<label>Mensaje:</label>
					<textarea class="validate-required" name="message" rows="2" maxlength="160" placeholder="¿Cual es tu consulta?"></textarea>
				</div>
						<!-- <div class="col-sm-12">
							<div class="recaptcha"></div>
						</div> -->
						<div class="col-sm-12">
							<div class="alert">
								<div class="alert__body">
									<span>
										<img src="{{ 'images/pixel/alert.png'|asset }}" width="24" height="24" alt="" class="icon__image">
										Si no incluyes el nombre y RTN de la empresa, tu solicitud será rechazada.
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<button type="submit" class="btn btn--primary type--uppercase "><img src="{{ 'images/pixel/send.png'|asset }}" width="24" height="24" alt="" class="btn__image">Enviar Consulta</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	    {% include 'partials.frontend_footer' %}
</div>
<div class="all-page-modals">
	<div class="modal-container" data-modal-index="0">
		<div class="modal-content bg-dark" data-width="60%" data-height="60%">
			<iframe src="https://www.youtube.com/embed/AZjeNxZdrAY" allowfullscreen="allowfullscreen" data-src="https://www.youtube.com/embed/AZjeNxZdrAY"></iframe>
			<div class="modal-close modal-close-cross"></div>
		</div>
	</div>

	<div class="modal-container" data-modal-index="1">
		<div class="modal-content imagebg text-center">
			<div class="container">
				<div class=" justify-content-center">
					<i class="icon icon--lg ">
						<img src="{{ 'images/pixel/working.png'|asset }}" alt="" width="80" height="80">
					</i>
					<h2>MUY PRONTO</h2>
					<h4>Estamos trabajando en esta sección para <br>brindarte la información que necesitas.</h4>
				</div>
			</div>
		</div>
	</div> 
</div>


{% endblock %}



